<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Regist Form</h1>
	<hr>
	<form action="/regist" method="post">
		USERNAME : <input type="text" name="username" placeholder="INPUT USERNAME..."><br>
		PASSWORD : <input type="text" name="password" placeholder="INPUT PASSWORD..."><br>
		NAME : <input type="text" name="name" placeholder="INPUT NAME..."><br>
		<input type="submit" value="REGIST">
	</form>
</body>
</html>