<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Board List Page</h1>
	<hr>
	<table border="1">
		<thead>
			<tr>
				<th>NO</th>
				<th>TITLE</th>
				<th>WRITER</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board : ${boardList}">
				<td th:text="${board.boardId}"></td>
				<td>
					<a 
						th:href="@{'/detail?id=' + ${board.boardId}}" 
						th:text="${board.title}">
					</a>
				</td>
				<td th:text="${board.writer}"></td>
			</tr>
		</tbody>
	</table>
	<button onclick="location.href='write'">GO TO BOARD</button>
</body>
</html>