<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Regist Page</h1>
	<hr>
	<form action="/regist" method="post">
		USERNAME : <input type="text" name="username" placeholder="input your username" required><br>
		PASSWORD : <input type="password" name="password" placeholder="input your password" required><br>
		NAME : <input type="text" name="name" placeholder="input your name" required><br>
		<input type="submit" value="regist">
	</form>
</body>
</html>