<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Regist Page</h1>
	<hr>
	<form action="/regist" method="post">
		USERNAME : <input type="text" name="username" placeholder="Input username"><br>
		PASSWORD : <input type="password" name="password" placeholder="Input password"><br>
		name : <input type="text" name="name" placeholder="Input name"><br>
		<input type="submit" value="regist">
	</form>
</body>
</html>